version: "3.8"

services:
  proxy:
    image: owasp/modsecurity-crs:3.3.7-nginx-202511100111
    container_name: modsec-proxy
    environment:
      - PROXY=1
      - BACKEND=http://flask:5000
      - BLOCKING_PARANOIA=1
      - PORT=8080
    ports:
      - "8083:8080"
    depends_on:
      - flask

  flask:
    build: ./flask
    container_name: simple-flask
    environment:
      - FLASK_ENV=production
    ports:
      - "5000:5000"
    restart: unless-stopped
